:host {
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    display: flex;
    justify-content: center;
    margin: 0 0;
    height: 100%;
    position: absolute;
    width: 100%;
}

.formC {
    margin-top: 10%;
}

.card {
    background-color: rgba(255, 255, 255, 0.13);
}

.form-control{
    background-color: rgba(255, 255, 255, 0.13);
    border-style: none;
    border-bottom: azure;
}

.centrar {
    justify-content: center;
}