:host {
    background: #2b3e50;
    justify-content: center;
    text-align: center;
    margin: 0 0;
    height: 100%;
    position: absolute;
    width: 100%;
    color: aliceblue;
    top: 44%;
    padding-left: 4%;
    padding-right: 4%;
}
   
@media  (max-width: 992px) {
    :host {
        top: 35%;
    }
       
}
